{% extends './base.html' %}

{% block main %}
<main class="width-1280 main">
  <div class="wrap">

    <p class="page-box-title">热门游戏</p>
    <div class="hot-box">
      <div class="games-wrap">
        {% for item in pcTop %}
        <div class="game-box" data-id="{{item.id}}" data-hot="{{item.hot}}">
          <a target="_blank" href="{{item.href}}"><img src="{{item.img}}" alt="" class="thumbnail" /></a>
          <a target="_blank" href="{{item.href}}" class="name">{{item.name}}{{item.additionName}}</a>
          <p class="des">{{item.des}}</p>
          <div class="icons">
            {% if item.iconIOS %}
            <a class="ios"></a>
            {% endif %}
            {% if item.iconAD %}
            <a class="android"></a>
            {% endif %}
            {% if item.iconPC %}
            <a class="pc"></a>
            {% endif %}
          </div>
          {% if item.hot > 0 %}
          <span class="people-hot">人气: {{item.hot}}</span>
          {% endif %}
          <a href="{{item.href}}" target="_blank" class="enter-web">进入官网</a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="left-content">
      <!-- 开服表 start -->
      <div class="server-list">
        <div class="hd">
          <p class="tab on J_gameTabs">端游开服表</p>
          <p class="tab J_gameTabs">手游开服表</p>
        </div>
        <div class="bd">

          <div class="J_gameTabBd">
            {% for item in pcLeft %}
            <div class="item {% if loop.index0 == 0 %}hover{% endif %}">
              <div class="normal-show">
                <span class="name ellipsis">{{item.name}}</span>
                <span class="open ellipsis">{{item.openTime}}&nbsp;</span>
                <span class="state ellipsis">火爆开放中</span>
              </div>
              <div class="hover-show ib-center">
                <img src="{{item.img}}" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <p class="name ellipsis">{{item.name}}</a>
                    <p class="open ellipsis">{{item.openTime}}&nbsp;</p>
                </div>
                <a target="_blank" href="{{item.href}}" class="start-link">开始游戏</a>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="J_gameTabBd" style="display:none">
            {% for item in mbLeft %}
            <div class="item {% if loop.index0 == 0 %}hover{% endif %}">
              <div class="normal-show">
                <span class="name ellipsis">{{item.name}}</span>
                <span class="open ellipsis">{{item.openTime}}&nbsp;</span>
                <span class="state ellipsis">火爆开放中</span>
              </div>
              <div class="hover-show ib-center">
                <img src="{{item.img}}" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <p class="name ellipsis">{{item.name}}</a>
                    <p class="open ellipsis">{{item.openTime}}&nbsp;</p>
                </div>
                <a target="_blank" href="{{item.href}}" class="start-link">开始游戏</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- 开服表 end -->
      <!-- 快速通道 start -->
      <div class="quickway">
        <div class="common-hd"><span class="common-title">快速通道</span></div>
        <div class="common-bd">
          <a target="_blank" href="http://passport.173uu.com/index.do?mod=reg" class="way-item">
            <i class="icon quick1"></i> <span>快速注册</span>
          </a>
          <a target="_blank" href="http://passport.173uu.com/index.do" class="way-item">
            <i class="icon quick2"></i> <span>找回密码</span>
          </a>
          <a target="_blank" href="#" class="way-item J_alertTip">
            <i class="icon quick3"></i> <span>充值中心</span>
          </a>
          <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=4000929777&site=qq&menu=yes" class="way-item">
            <i class="icon quick4"></i> <span>被盗申诉</span>
          </a>
          <div class="qqkf">
            <i class="kf-icon"></i>
            <div class="ib">
              <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=4000929777&site=qq&menu=yes" class="contact-kf">联系在线客服</a>
              <p class="qq-num">客服Q&nbsp;Q：4000929777</p>
              <p class="qq-num">客服热线：4000929777</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 快速通道 end -->
    </div>
    <div class="right-content">
      <!-- 游戏资讯 start -->
      <div class="news-list">
        <div class="common-hd">
          <p class="common-title">游戏资讯</p>
          <!-- <a target="_blank"  href="/news" class="more-btn">更多 &nbsp;>></a> -->
        </div>
        <div class="common-bd">
          {% for item in newList %}
            <div class="item">
                <a target="_blank" 
                {% if item.href %}
                href="{{item.href}}"
                {% else %}
                href="/news/{{item.id}}"
                {% endif %}
                class="title">{{item.title}}</a>
                <!-- <a target="_blank" href="/news/{{item.id}}" class="title">{{item.title}}</a> -->
                <span class="time fr">{{ helper.newsFormateDate(item.createdAt) }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- 游戏资讯 end -->

      <!-- 关注我们 start -->
      <div class="sub-us">
        <div class="common-hd">
          <span class="common-title">关注我们</span>
          <!-- <a href="" class="more-btn">更多 &nbsp;>></a> -->
        </div>
        <div class="bd">
          <div class="sub-way">
            <img src="/public/assets/qrcode_app.png" alt="APP手游端下载" class="qrcode" />
            <p class="text">APP手游端下载</p>
            <p class="text">安卓/苹果手机通用</p>
          </div>
          <div class="sub-way">
            <img src="/public/assets/qrcode_wechat.png" alt="天心神途公众号" class="qrcode" />
            <p class="text">天心神途公众号</p>
            <p class="text">关注公众号获得礼包</p>
          </div>
          <div class="sub-way">
            <img src="/public/assets/qrcode_qq.png" alt="官方QQ游戏群" class="qrcode" />
            <p class="text">官方QQ游戏群</p>
            <p class="text">9099127</p>
          </div>
        </div>
      </div>
      <!-- 关注我们 end -->
    </div>


    <div  style="margin-top:24px;">
      <div class="left-content">
        <div class="pics-box">
          <div class="common-hd">
            <span class="common-title">玩家靓照</span>
          </div>
          <div class="bd slide-pics J_slidePicsTwo">
            {% if picList.type2.length > 2 %}
            <div class="prev"></div>
            <div class="next"></div>
            {% endif %}
            <div class="slide-bd">
            {% for item in picList.type2 %}
                <a target="_blank" href="{{item.img}}" class="pic-a sm">
                  <img src="{{item.img}}" alt="">
                </a>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="pics-box">
          <div class="common-hd">
            <span class="common-title">游戏截图视频</span>
          </div>
          <div class="bd slide-pics J_slidePics">
            {% if picList.type1.length > 4 %}
            <div class="prev"></div>
            <div class="next"></div>
            {% endif %}
            <div class="slide-bd">
              {% for item in picList.type1 %}
                <a target="_blank" href="{{item.img}}" class="pic-a">
                  <img src="{{item.img}}" alt="">
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="friendship">
        <div class="common-hd">
          <span class="common-title">友情链接</span>
        </div>
        <div class="bd">
          {% for item in friendList %}
          <a href="{{item.href}}" target="_blank" >{{item.title}}</a>
          {% endfor %}
        </div>
      </div>
  
  </div>
</main>
{% endblock %}


{% block script %}
<script>
  $(function () {

    $(".J_slidePicsTwo").slide({ mainCell:".slide-bd",autoPage:true,effect:"left",vis:2,trigger:"click"});
    $(".J_slidePics").slide({ mainCell:".slide-bd",autoPage:true,effect:"left",vis:4,trigger:"click"});

    $('.J_gameTabs').hover(function () {
      var index = $(this).index();
      $(this)
        .addClass('on')
        .siblings()
        .removeClass('on');
      $('.J_gameTabBd')
        .eq(index)
        .show()
        .siblings()
        .hide();
    });
    $('.J_gameTabBd .item').hover(function () {
      $(this)
        .addClass('hover')
        .siblings('.item')
        .removeClass('hover');
    });
    $(document).on('click', '[data-id]', function() {
      var id = $(this).data('id');
      var hot = $(this).data('hot');
      var self = this;
      if (hot > 0) {
        $.get('/click?id=' + id, function() {
          var newhot = hot + 1;
          $(self).data('hot', newhot).find('.people-hot').text('人气: ' + newhot);
        });
      }
    });
  });
</script>
{% endblock %}