<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- 用在360中 -->
    <meta name="renderer" content="webkit" />
    <!-- 用在其它 -->
    <meta name="force-rendering" content="webkit" />
    <!-- 针对 IE 浏览器 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 针对百度搜索 -->
    <meta http-equiv="Cache-Control" content="no-transform" />

    <title>首页</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> -->

    <script src="http://lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="http://lib.baomitu.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/public/pages/index.css" />
  </head>

  <body>
    <header>
      <div class="lt-header">
        <div class="width-1280">
          <a href="" class="header-link">
            <i class="icon icon1"></i> <span>开服列表</span>
          </a>
          <a href="" class="header-link">
            <i class="icon icon2"></i> <span>放到桌面</span>
          </a>
          <div class="fr">
            <a href="" class="header-link">
              <i class="icon icon3"></i> <span>关于我们</span>
            </a>
            <a href="" class="header-link">
              <i class="icon icon4"></i> <span>在线客服</span>
            </a>
            <a href="" class="header-link">
              <i class="icon icon5"></i> <span>关注微信</span>
            </a>
          </div>
        </div>
      </div>
      <div class="nav-header">
        <div class="width-1280 ib-center">
          <img src="/public/assets/logo.png" alt="" class="logo ib" />
          <nav class="nav fr">
            <a href="/" class="nav-item">首页</a>
            <a href="/" class="nav-item">新闻中心</a>
            <a href="/" class="nav-item">关于中心</a>
            <a href="/" class="nav-item">客服中心</a>
          </nav>
        </div>
      </div>
    </header>
    <div class="banner-bg">
      <div class="width-1280">
        <div class="qrcode-box wechat">
          <img src="/public/assets/qrcode_wechat.png" alt="官方公众号" class="code-img ">
        </div>
        <div class="qrcode-box app">
          <img src="/public/assets/qrcode_app.png" alt="APP下载" class="code-img ">
        </div>
    </div>

    </div>

    <main class="width-1280 main">
      <div class="hot-box">
        <p class="title">热门端游</p>
        <div class="games-wrap">
          <div class="game-box">
            <a href="/"><img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail"/></a>
            <a href="/" class="name">天心神途</a>
            <p class="des">一人带队群殴BOSS！新区火爆</p>
            <div class="icons">
              <a class="android"></a> <a class="ios"></a> <a class="pc"></a>
            </div>
            <a href="/" class="enter-web">进入官网</a>
          </div>
          <div class="game-box">
            <a href="/"><img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail"/></a>
            <a href="/" class="name">天心神途</a>
            <p class="des">一人带队群殴BOSS！新区火爆</p>
            <div class="icons">
              <a class="android"></a> <a class="ios"></a> <a class="pc"></a>
            </div>
            <a href="/" class="enter-web">进入官网</a>
          </div>
          <div class="game-box">
            <a href="/"><img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail"/></a>
            <a href="/" class="name">天心神途</a>
            <p class="des">一人带队群殴BOSS！新区火爆</p>
            <div class="icons">
              <a class="android"></a> <a class="ios"></a> <a class="pc"></a>
            </div>
            <a href="/" class="enter-web">进入官网</a>
          </div>
          <div class="game-box">
            <a href="/"><img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail"/></a>
            <a href="/" class="name">天心神途</a>
            <p class="des">一人带队群殴BOSS！新区火爆</p>
            <div class="icons">
              <a class="android"></a> <a class="ios"></a> <a class="pc"></a>
            </div>
            <a href="/" class="enter-web">进入官网</a>
          </div>
          <div class="game-box">
            <a href="/"><img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail"/></a>
            <a href="/" class="name">天心神途</a>
            <p class="des">一人带队群殴BOSS！新区火爆</p>
            <div class="icons">
              <a class="android"></a> <a class="ios"></a> <a class="pc"></a>
            </div>
            <a href="/" class="enter-web">进入官网</a>
          </div>
          <div class="game-box">
            <a href="/"><img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail"/></a>
            <a href="/" class="name">天心神途</a>
            <p class="des">一人带队群殴BOSS！新区火爆</p>
            <div class="icons">
              <a class="android"></a> <a class="ios"></a> <a class="pc"></a>
            </div>
            <a href="/" class="enter-web">进入官网</a>
          </div>
        </div>
      </div>

      <!-- 开服表 start -->
      <div class="server-list">
        <div class="hd">
          <p class="tab on J_gameTabs">端游开服表</p>
          <p class="tab J_gameTabs">手游开服表</p>
        </div>
        <div class="bd">
          <div class="J_gameTabBd">
            <div class="item hover">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
          </div>
          <div class="J_gameTabBd" style="display:none">
            <div class="item hover">
              <a class="normal-show">
                <span class="name">贪玩蓝月</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">贪玩蓝月贪玩蓝月贪玩蓝月贪玩蓝月</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">贪玩蓝月</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">贪玩蓝月贪玩蓝月贪玩蓝月贪玩蓝月</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">贪玩蓝月</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">贪玩蓝月贪玩蓝月贪玩蓝月贪玩蓝月</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">贪玩蓝月</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">贪玩蓝月贪玩蓝月贪玩蓝月贪玩蓝月</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">贪玩蓝月</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">贪玩蓝月贪玩蓝月贪玩蓝月贪玩蓝月</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
            <div class="item">
              <a class="normal-show">
                <span class="name">天心神途</span>
                <span class="open">每日 10/14/20 点开服</span>
                <span class="state gray">火爆开放中</span>
              </a>
              <div href="/" class="hover-show ib-center">
                <img src="/public/assets/banner_bg.jpg" alt="" class="thumbnail ib" />
                <div class="text-box ib">
                  <a class="name">天心神途天心神途天心神途天心神途</a>
                  <p class="open">每日 每日 10/14/每日 10/14/10/14/20 点开服</p>
                </div>
                <a href="" class="start-link">开始游戏</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 开服表 end -->

      <!-- 游戏咨询 start -->
      <div class="news-list">
        <div class="common-hd">
          <p class="common-title">游戏咨询</p>
          <a href="" class="more-btn">更多 &nbsp;>></a>
        </div>
        <div class="common-bd">
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
          <div class="item">
            <span class="title"
              >【新闻】热血神途之国战三职业复古微变铭文版开启有奖测试</span
            >
            <span class="time fr">2019-01-09</span>
          </div>
        </div>
      </div>
      <!-- 游戏咨询 end -->

      <!-- 快速通道 start -->
      <div class="quickway">
        <div class="common-hd"><span class="common-title">快速通道</span></div>
        <div class="common-bd">
          <a href="" class="way-item">
            <i class="icon quick1"></i> <span>快速注册</span>
          </a>
          <a href="" class="way-item">
            <i class="icon quick2"></i> <span>找回密码</span>
          </a>
          <a href="" class="way-item">
            <i class="icon quick3"></i> <span>充值中心</span>
          </a>
          <a href="" class="way-item">
            <i class="icon quick4"></i> <span>被盗申诉</span>
          </a>
          <div class="qqkf">
            <i class="kf-icon"></i>
            <div class="ib">
              <a href="" class="contact-kf">联系在线客服</a>
              <p class="qqnum">官方客服QQ：800828608</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 快速通道 end -->

      <!-- 关注我们 start -->
      <div class="sub-us">
        <div class="common-hd">
          <span class="common-title">关注我们</span>
          <a href="" class="more-btn">更多 &nbsp;>></a>
        </div>
        <div class="bd">
          <div class="sub-way">
            <img src="/public/assets/qrcode_app.png" alt="APP手游端下载" class="qrcode" />
            <p class="text">APP手游端下载</p>
            <p class="text">安卓/苹果手机通用</p>
          </div>
          <div class="sub-way">
            <img src="/public/assets/qrcode_wechat.png" alt="天心神途官方公众号" class="qrcode" />
            <p class="text">天心神途官方公众号</p>
            <p class="text">ID:tianxinst</p>
          </div>
          <div class="sub-way">
            <img src="/public/assets/qrcode_qq.png" alt="官方QQ游戏群" class="qrcode" />
            <p class="text">官方QQ游戏群</p>
            <p class="text">88897788</p>
          </div>
        </div>
      </div>
      <!-- 关注我们 end -->
    </main>

    <footer>
      <div class="width-1280">
        <p class="footer-line">
          健康游戏公告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防上当受骗
          适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活
        </p>
        <p class="footer-line">
          文网游备字[2011]C-RPG152号
          |网络文化经营许可证:皖网文〔2018〕10415-261号
          |增值电信业务经营许可证:浙B2-20110064
        </p>
        <p class="footer-line">
          《互联网文化管理暂行规定》|《网络游戏管理暂行办法》|
          赣ICP备18015084号-2 适龄提示：本游戏适合18岁以上的成年人进入
        </p>
        <img src="/public/assets/footer_company.png" alt="" class="company-logo" />
        <p class="copyright">
          CopyRight 2018-2019 江西搜搜信息科技有限公司, All right reserved.
        </p>
      </div>
    </footer>
  </body>
  <script>
    $(function() {
      $('.J_gameTabs').hover(function() {
        var index = $(this).index();
        $(this)
          .addClass('on')
          .siblings()
          .removeClass('on');
        $('.J_gameTabBd')
          .eq(index)
          .show()
          .siblings()
          .hide();
      });
      $('.J_gameTabBd .item').hover(function() {
        $(this)
          .addClass('hover')
          .siblings()
          .removeClass('hover');
      });
    });
  </script>
</html>
