<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="wap-font-scale" content="no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>天心神途</title>
    <meta name="description" content="天心神途官网, 好玩版本, 一网打尽" />
    <meta name="keywords" content="天心神途" />
    <link href="/public/pages/mobile-common.css" rel="stylesheet" />
    <link href="/public/pages/mobile-index.css" rel="stylesheet" />
    <script>
      (function(designWidth, maxWidth) {
        var doc = document,
          win = window,
          docEl = doc.documentElement,
          remStyle = document.createElement("style"),
          tid;

        function refreshRem() {
          var width = docEl.getBoundingClientRect().width;
          maxWidth = maxWidth || 540;
          width > maxWidth && (width = maxWidth);
          var rem = (width * 100) / designWidth;
          remStyle.innerHTML = "html{font-size:" + rem + "px;}";
        }

        if (docEl.firstElementChild) {
          docEl.firstElementChild.appendChild(remStyle);
        } else {
          var wrap = doc.createElement("div");
          wrap.appendChild(remStyle);
          doc.write(wrap.innerHTML);
          wrap = null;
        }
        //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
        refreshRem();

        win.addEventListener(
          "resize",
          function() {
            clearTimeout(tid); //防止执行两次
            tid = setTimeout(refreshRem, 300);
          },
          false
        );

        win.addEventListener(
          "pageshow",
          function(e) {
            if (e.persisted) {
              // 浏览器后退的时候重新计算
              clearTimeout(tid);
              tid = setTimeout(refreshRem, 300);
            }
          },
          false
        );

        if (doc.readyState === "complete") {
          doc.body.style.fontSize = "16px";
        } else {
          doc.addEventListener(
            "DOMContentLoaded",
            function(e) {
              doc.body.style.fontSize = "16px";
            },
            false
          );
        }
      })(750, 750);
    </script>
  </head>
  <body>
    <header class="y-header0">
      <div class="top">
        <a class="logo-wrapper" href="/">
          <img src="/public/assets/logo.png" />
        </a>
      </div>
    </header>

    <div class="sec-top">
      <nav class="y-nav0">
        <table>
          <tbody>
            <tr>
              <!-- <td class=""><a href="/">热门榜</a></td>

              <td class="selected"><a href="/new/">最新榜</a></td>
              <td class=""><a href="/android/">安卓榜</a></td> -->
              <td class=""><a>热门游戏</a></td>
            </tr>
          </tbody>
        </table>
      </nav>
      {% for item in topThree %}
      <div class="rank{{loop.index}} android-show">
        <a href="{{item.href}}">
          <img
            class="ic img-wrapper"
            src="{{item.imgMobile}}"
            alt="{{item.name}}"
          />
          <p class="high-layer">{{item.name}}</p>
          <p class="middle-layer">{{item.hot}}人气</p>
        </a>

        <a
          class="btn-download"
          href="{{item.href}}"
          >下载</a
        >
      </div>
      {% endfor %}
   

    </div>
    <div class="main">
      <ul class="android-show list">
        {% for item in res %}
        <li>
          <div class="y-card0h">
            <a href="{{item.href}}">
              <div class="y-card0h-iconbox img-wrapper">
                <img src="{{item.imgMobile}}" alt="{{item.name}}" />
              </div>
              <div class="y-card0h-infobox">
                <div class="high-layer">
                  <div class="prefix">{{loop.index}}</div>
                  <div class="title">{{item.name}}</div>
                </div>
                <div class="middle-layer special">
                  <span class="slot-lft"> {{item.additionName}} </span>
                  <!-- <span class="slot-lft">{{item.hot}}次下载</span> -->
                  {% if item.hot > 0 %}
                  <span class="red">{{item.hot}}</span>
                  <span>人气</span>
                  {% endif %}
                </div>
                <div class="low-layer">
                  <span class="red">
                    {{item.openTime}}
                    [{{item.openText}}]
                  </span>
                </div>
              </div>
            </a>

            <a
              class="y-card0h-actionbox"
              href="{{item.href}}"
            >
              <div class="ic-wrapper">
                <svg class="icon yic-arrow4"></svg>
                <svg class="svg-arrow" viewBox="0 0 1024 1024">
                  <path
                    d="M576 599.04l250.112-250.176c28.608-28.544 75.52-27.84 104.96 1.536 29.44 29.44 30.08 76.416 1.536 104.96l-362.048 362.048a71.872 71.872 0 0 1-52.16 20.992 76.16 76.16 0 0 1-52.8-22.464L92.928 443.2c-29.44-29.44-30.08-76.416-1.536-104.96 28.544-28.544 75.52-27.904 104.96 1.536L448 591.36V64a64 64 0 1 1 128 0v535.04zM64 896h896a64 64 0 0 1 0 128H64a64 64 0 0 1 0-128z"
                  ></path>
                </svg>
              </div>
              <p>秒装</p>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>
      
      <!-- <div class="loadmore-wrapper">
        <button
          class="y-loadmore0"
          data-type="7"
          data-rankcode="new"
          data-pageindex="1"
        >
          加载更多
        </button>
      </div> -->


    </div>
    <style>
      footer {
        margin: 0 0.2rem;
        padding-top: .5rem;
        border-top: 1px solid #eee;
        text-align: center;
      }
      footer p {
        font-size: 0.22rem;
        color: #898989; 
      }
    </style>
    <footer>
      <div class="width-1280">
        <p>文网游备字[2011]C-RPG152号</p>
        <p>网络文化经营许可证:皖网文〔2018〕10415-261号</p>
        <p>增值电信业务经营许可证:浙B2-20110064</p>
        <p>《互联网文化管理暂行规定》|《网络游戏管理暂行办法》</p>
        <p>赣ICP备18015084号-2 适龄提示：本游戏适合18岁以上的成年人进入</p>
        <div class="logo-line">
          <a target="cyxyv" href="https://v.yunaq.com/certificate?domain=www.2tx.com&amp;from=label&amp;code=90030"><img src="https://aqyzmedia.yunaq.com/labels/label_sm_90030.png?1550141801"></a>
        </div>
        <p class=""> CopyRight 2018-2019 江西搜搜信息科技有限公司</p>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275933496'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D1275933496%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </div>
    </footer>
  </body>
</html>
