logs/
npm-debug.log
yarn-error.log
node_modules/
egg-multipart-tmp/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
app/public/upload/*.jpg
app/public/upload/*.png
app/public/upload/*.gif
app/public/upload/*.bmp

app/public/news/*.jpg
app/public/news/*.png
app/public/news/*.gif
app/public/news/*.bmp
