<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="wap-font-scale" content="no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>『神途』神途开服表_神途发布网_天心传奇_天心神途_多种版本,多种玩法,让你想玩什么就玩什么</title>
    <meta name="description" content="《神途》是一款2D类多人在线PK性的在线网游,主打经营,单职业神途,特色微变,神途手游,中变等多种版本运营,让每个玩家都能找到自己喜欢的版本！" />
    <meta name="keywords" content="神途,神途开服表,神途发布网,神途手游,单职业神途,神途sf,神途私服" />
    <link href="/public/pages/mobile-common.css" rel="stylesheet" />
    <link href="/public/pages/mobile-index.css" rel="stylesheet" />
    <script>
      (function(designWidth, maxWidth) {
        var doc = document,
          win = window,
          docEl = doc.documentElement,
          remStyle = document.createElement("style"),
          tid;

        function refreshRem() {
          var width = docEl.getBoundingClientRect().width;
          maxWidth = maxWidth || 540;
          width > maxWidth && (width = maxWidth);
          var rem = (width * 100) / designWidth;
          remStyle.innerHTML = "html{font-size:" + rem + "px;}";
        }

        if (docEl.firstElementChild) {
          docEl.firstElementChild.appendChild(remStyle);
        } else {
          var wrap = doc.createElement("div");
          wrap.appendChild(remStyle);
          doc.write(wrap.innerHTML);
          wrap = null;
        }
        //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
        refreshRem();

        win.addEventListener(
          "resize",
          function() {
            clearTimeout(tid); //防止执行两次
            tid = setTimeout(refreshRem, 300);
          },
          false
        );

        win.addEventListener(
          "pageshow",
          function(e) {
            if (e.persisted) {
              // 浏览器后退的时候重新计算
              clearTimeout(tid);
              tid = setTimeout(refreshRem, 300);
            }
          },
          false
        );

        if (doc.readyState === "complete") {
          doc.body.style.fontSize = "16px";
        } else {
          doc.addEventListener(
            "DOMContentLoaded",
            function(e) {
              doc.body.style.fontSize = "16px";
            },
            false
          );
        }
      })(750, 750);
    </script>
  </head>
  <body>
    <header class="y-header0">
      <div class="top">
        <a class="logo-wrapper" href="/">
          <img src="/public/assets/logo_mobile1.png" />
        </a>
      </div>
    </header>
    <script>
      (function() {
        if (!(self === parent)) {
          var $wrap = document.querySelector('.logo-wrapper');
          $wrap.style.width = '3rem';
          $wrap.style.height = '0.75rem';
          $wrap.innerHTML = '<img src="http://www.sousou.com/images/m_sousou_logo.png" />'
        }
      }());
    </script>
    {%- block main %}{% endblock -%}


    <footer>
      <div class="width-1280">
        <p>文网游备字[2011]C-RPG152号</p>
        <p>网络文化经营许可证:皖网文〔2018〕10415-261号</p>
        <p>增值电信业务经营许可证:浙B2-20110064</p>
        <p>《互联网文化管理暂行规定》|《网络游戏管理暂行办法》</p>
        <p>赣ICP备18015084号-2 适龄提示：本游戏适合18岁以上的成年人进入</p>
        <div class="logo-line">
          <a target="cyxyv" href="https://v.yunaq.com/certificate?domain=www.2tx.com&from=label&code=90030"><img src="https://aqyzmedia.yunaq.com/labels/label_sm_90030.png"></a>
          <a target="_blank" href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&rsv_idx=1&tn=baidu&wd=%E6%B1%9F%E8%A5%BF%E6%90%9C%E6%90%9C%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8%40v&oq=%25E5%25AE%2589%25E5%25BE%25BD%25E7%25A5%259E%25E7%258B%2599%25E4%25BF%25A1%25E6%2581%25AF%25E7%25A7%2591%25E6%258A%2580%25E6%259C%2589%25E9%2599%2590%25E5%2585%25AC%25E5%258F%25B8%2540v&rsv_pq=836e3ac100005eff&rsv_t=970abvy9lPBCH%2BMs6BaCcoVxdAL267ciUIBXSV6J5v5YMIFd9kxu8KCnDHc&rqlang=cn&rsv_enter=1&rsv_sug3=44&rsv_sug1=11&rsv_sug7=100&rsv_sug2=0&inputT=4541&rsv_sug4=6571&rsv_sug=1">
            <img style="margin: 0px 10px;" src="http://www.baodaren.net/themes/default/assets/images/f_icon3.png" alt="">
          </a>
          <a target="_blank" href="https://v.anquan.org/cert/site/?site=www.2tx.com"><img src="https://static.miandei.com/cloud/images/common/hy_124x47.png" /></a>
        </div>
        <p class="">CopyRight 2018-2019 江西搜搜信息科技有限公司</p>
        <script type="text/javascript">
          var cnzz_protocol =
            "https:" == document.location.protocol ? "https://" : "http://";
          document.write(
            unescape(
              "%3Cspan id='cnzz_stat_icon_1275933496'%3E%3C/span%3E%3Cscript src='" +
                cnzz_protocol +
                "s23.cnzz.com/stat.php%3Fid%3D1275933496%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"
            )
          );
        </script>
      </div>
    </footer>
    {%- block script %}{% endblock -%}
  </body>
</html>
